<html lang="en">
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Available APIs</h1>
        <div class="api content">
            <ul>
                <li><a href="/api/logins">Logins</a> (READ)</li>
                <li><a href="/api/users">Users</a> (READ)</li>
            </ul>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>